@media only screen and (min-width: 951px) {
    .planGrid--hasFixedHeader {
        padding-top: 144px;
    }
}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;
}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body,
html {
    color: #333;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

element {}

.planGrid--hasFixedHeader .planGrid__header {
    background: #fff;

    box-sizing: border-box;

    left: 50%;

    max-width: 978px;

    padding: 0 16px;

    position: fixed;

    top: 0;

    transform: translateX(-50%);

    width: 100%;

    z-index: 1;

}

.planGrid__header {
    align-items: flex-end;

    display: flex;

    flex-direction: column;

}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;

}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

body,
html {
    color: #333;

    direction: ltr;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    font-size: 16px;

}

html {
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;
}
@media only screen and (max-width: 950px) and (min-width: 601px),
only screen and (min-width: 951px) {
    .planGrid__planSelector {
        order: 1;
    }
}

.planGrid__selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;
}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body,
html {
    color: #333;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
element {}

.planGrid__selectorDescription,
.planGrid__selectorTitle {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;
}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body,
html {
    color: #333;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
element {}

.planGrid--has3Plans .planGrid__planChoice {
    width: 33.33333%;

}

@media only screen and (max-width: 950px) and (min-width: 601px),
only screen and (min-width: 951px) {
    .planGrid__planChoice {
        padding: 12px 0;

    }
}

.planGrid__selectorChoice {
    box-sizing: border-box;

    flex: 1 1 auto;

    position: relative;

}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;

}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

body,
html {
    color: #333;

    direction: ltr;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    font-size: 16px;

}

html {
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;

}
element {}

.planGrid--has3Plans .planGrid__planChoice {
    width: 33.33333%;

}

@media only screen and (max-width: 950px) and (min-width: 601px),
only screen and (min-width: 951px) {
    .planGrid__planChoice {
        padding: 12px 0;

    }
}

.planGrid__selectorChoice {
    box-sizing: border-box;

    flex: 1 1 auto;

    position: relative;

}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;

}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

body,
html {
    color: #333;

    direction: ltr;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    font-size: 16px;

}

html {
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;

}
element {}

.planGrid--has3Plans .planGrid__planChoice {
    width: 33.33333%;

}

@media only screen and (max-width: 950px) and (min-width: 601px),
only screen and (min-width: 951px) {
    .planGrid__planChoice {
        padding: 12px 0;

    }
}

.planGrid__selectorChoice {
    box-sizing: border-box;

    flex: 1 1 auto;

    position: relative;

}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;

}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

body,
html {
    color: #333;

    direction: ltr;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    font-size: 16px;

}

html {
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;

}

element {}

.planGrid__featureTable,
.planGrid__featureTableBody {
    display: flex;

    flex-direction: column;

}

.planGrid__featureTable {
    border-collapse: collapse;

    padding-bottom: 10px;

}

table {
    border-collapse: collapse;

    border-spacing: 0;

}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;

}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

body,
html {
    color: #333;

    direction: ltr;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    font-size: 16px;

}

html {
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;

}

element {}

.planGrid__featureTableCaption {
    clip: rect(1px, 1px, 1px, 1px);

    height: 1px;

    overflow: hidden;

    position: absolute;

    width: 1px;

}

.planGrid__featureTable {
    border-collapse: collapse;

}

table {
    border-collapse: collapse;

    border-spacing: 0;

}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;

}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

body,
html {
    color: #333;

    direction: ltr;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    font-size: 16px;

}

html {
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;

}
element {}

.planGrid__featureTable,
.planGrid__featureTableBody {
    display: flex;
    flex-direction: column;
}

.planGrid__featureTable {
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;
}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body,
html {
    color: #333;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
element {}

.planGrid__featureTableRow--a11yheader,
.planGrid__featureTableRow--a11yheader td,
.planGrid__featureTableRow--a11yheader th {
    clip: rect(0 0 0 0);

    -webkit-clip-path: inset(50%);

    clip-path: inset(50%);

    height: 1px;

    overflow: hidden;

    position: absolute;

    white-space: nowrap;

    width: 1px;

}

.planGrid__featureTable {
    border-collapse: collapse;

}

table {
    border-collapse: collapse;

    border-spacing: 0;

}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;

}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

body,
html {
    color: #333;

    direction: ltr;

    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

    font-size: 16px;

}

html {
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;

}